* {
    /* color: #D9D9D9; */
    font-family: 'Oswald';
    font-style: oblique !important;
    font-weight: normal;
    text-align: center;
}
.page {
    background-color: #BF7E04;
    /* border: 4px dashed #ffd480; */
    border-radius: 20px;
    margin: 20px;
    height: 800px;
}
.page,.all_menu,.menu_list,.list_subtitle {
    font-size: 18px;
    padding: 0; 
}
.nav {
    width: 250px;
}
/* nav,ul,li,h2,h3,h4,h5{
    border:1px dotted green;
} */
.all_menu {
    list-style: none;
}
.menu_list {
    height: 51px;
    padding: 10px;
    border-bottom: 4px double;
    border-radius: 20px;
}
.menu_list:last-child{
    border-bottom: none;
}
.list_subtitle,.all_menu {
    padding: 5px;
    margin: 0;
}
.title {
    background-color: #A63F03;
    padding: 20px 0;
    margin: 5px 5px 0 5px;
    border-right: 3px double #ffd480 ;
    border-bottom: 4px double #ffd480 ;
    border-radius: 20px;
    color: #313B2F;
    transition: 0.60s;
}
.title:hover {
    color: #ffd480;
    transition: 0.60s;
}
.list1 {
    background-color: #A63F03 ;
    border-right: double;
    color: #FFD639;
    transition: 0.40s;
}
.list1:hover{
    background-color: red;
    transition: 0.40s;
}
.list2 {
    background-color: #D9A407 ;
    border-right: double;
    color: #6A736F;
    transition: 0.40s;
}
.list2:hover{
    background-color: red;
    transition: 0.40s;
}
.list3 {
    background-color: #F2CC0C ;
    margin-left: 60px;
    border-right: double;
    transition: 0.40s;
}
.list3:hover{
    background-color: red;
    transition: 0.40s;
}
.menu_list>.all_menu {
    display: none;
    margin-top:-79px;
    margin-left: 225px;
    width: 300px;
}
.menu_list:hover>.all_menu {
    display: block;
}
.subtitle3 {
    padding: 0;
}
.icon {
    text-align:right;
    transform: translateY(-30px);
    opacity: 0.3;
}
.icon:hover {
    opacity: 1;
    transition: 0.5s;
}



